

.crearclientes__main{
    display: flex;
    width: 100%;
    height: 94vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crearclientes__wrapper{
    max-width: 1200px;
    height: auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
}
.crearclientes__wrapper-description-form{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.crearclientes__wrapper-description-form h2{
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "sf_quartziteregular";
    text-shadow: 1px 1px 1px #858484
}
.crearclientes__wrapper-description-form h5{
    margin: 10px;
    font-weight: 100;
    font-size: 1.3rem;
    font-family: "sf_quartziteregular";
    color:#e6c781;
    text-shadow: 1px 1px 1px #483a1a;
    
}

.crearclientes__wrapper-description-form .image{
    width: 10rem;
    height: 10rem;
    background: url('../../img/logogym.png') no-repeat center center/cover;
    
}



.crearclientes__wrapper-form{
    width: 60%;
    height: auto;
    padding: 4rem;
}

form label {
    font-weight: bold;
}

form label,input, select {
    font-family: 'Montserrat', sans-serif;
    background: none;
}

form input[type=text], select, input[type=email], input[type=password], input[type=search] {
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type=radio]{
   margin: 15px;
}
form label[for=cc], form label[for=ti]{
    margin: 15px 0;
    font-size: 0.85rem;
 }

form input[type=date]{
    width: 100%;
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type=submit]{
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin: 15px 0;
    outline: none;
    border:none;
    background: #eebf51;
    border-radius: 4px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #eebf51
}
form input[type=submit]:hover{
    background: #eecd7e;
}
